@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-blue: #213B8D;
  --color-grandis: #FFCC71;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grandis);
  color: var(--color-blue);
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2%;
  position: relative;
}

h2::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 4px;
  border-radius: 50px;
  background: linear-gradient(90deg, var(--color-blue), var(--color-grandis));
  margin-left: 2%;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-weight: 700;
  opacity: 0.7;
  margin-top: 8%;
}

a {
  color: inherit;
  text-decoration: none;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  border: 4px solid var(--color-blue);
  border-radius: 50px;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  position: relative;
}

.resume:hover {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  transform: translate(-2px, -2px);
}

.deco {
  position: absolute;
  top: 1%;
  left: 8%;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: linear-gradient(-60deg, var(--color-blue), var(--color-grandis));
}

.info {
  text-align: center;
  border: 1px solid var(--color-blue);
  border-radius: 200px 200px 50px 50px;
  padding: 2%;
  background-color: #ffe6b3;
  box-shadow: 8px 8px 0;
  position: relative;
}

.avator {
  margin: 0 auto;
  width: 24vmin;
  height: 24vmin;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
}

.name {
  font-size: 2rem;
  font-weight: 500;
}

.jobPosition {
  font-size: 1.5rem;
  font-weight: 900;
  color: #cc9c2a;
  margin: 4% 0;
  padding: 4%;
}

ul.contact {
  margin: 16% 0;
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
}

a.btn {
  background-color: black;
  color: white;
  font-weight: 700;
  border-radius: 200px;
  margin-top: 16%;
  padding: 8%;
  display: inline-block;
  transition: 0.5s;
}

a.btn:hover {
  background-color: #333;
}

.bgBlock {
  width: 32.3333%;
  margin-left: 3%;
}

.skillsTotal {
  display: flex;
  border-radius: 20px;
}

.skillsTotal .block {
  width: 50%;
  margin-right: 2%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list li {
  width: 20%;
  padding: 1%;
  margin-right: 4%;
  margin-bottom: 2%;
  text-align: center;
}

.listSummary li {
  border: 0.85px solid var(--color-blue);
}

.listSkill li {
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.skill1 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fb/Adobe_Illustrator_CC_icon.svg'); }
.skill2 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/af/Adobe_Photoshop_CC_icon.svg'); }
.skill3 { background-image: url('https://i0.wp.com/syzygia.online/wp-content/uploads/2022/03/%E5%95%86%E5%93%81%E5%9C%96-1.png?fit=800%2C780&ssl=1'); }
.skill4 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/40/Adobe_Premiere_Pro_CC_icon.svg'); }
.skill5 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/Adobe_XD_CC_icon.svg'); }
.skill6 { background-image: url('https://s3-alpha.figma.com/hub/file/697598809/ce5e0bb3-16b9-4d88-9bca-7d237fe725a8-cover.png'); }
.skill7 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg'); }
.skill8 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg'); background-size: 70%; }
.skill9 { background-image: url('https://play-lh.googleusercontent.com/S9iYkhQDja7uH4yKRxlfTXkBK4EEoXSAfWiAv3NhuOPv26iQh36jlUc7CXnMEaxhFA=w240-h480-rw'); }
.skill10 { background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/10/Midjourney_Emblem_%E2%80%94_Discord.svg'); }
.skill11 { background-image: url('https://www.edigitalagency.com.au/wp-content/uploads/ChatGPT-logo-PNG-medium-size-white-green-background.png'); }

.year {
  margin-bottom: 4%;
}

.year h4 {
  margin-top: 0;
}

.exp {
  border-left: 2px solid var(--color-blue);
  margin-top: 1%;
  padding-left: 3%;
}

@media screen and (max-width: 992px) {
  .resume {
    justify-content: center;
    text-align: center;
  }
  .info {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 2%;
    box-shadow: 0 8px 0;
  }
  .bgBlock {
    width: 100%;
    margin-left: 0;
  }
  .deco {
    display: none;
  }
  ul.contact {
    margin: 8% 0;
  }
  a.btn {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 8%;
    padding: 4%;
    position: absolute;
    bottom: -8%;
    left: 45%;
  }
  .brief {
    padding: 0 2%;
  }
  .exp {
    border: none;
  }
  .list {
    justify-content: center;
  }
  .skillsTotal {
    flex-wrap: wrap;
  }
  .skillsTotal .block {
    width: 100%;
  }
  .listSkill li {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  .listSummary li {
    width: 25%;
  }
}

@media screen and (max-width: 375px) {
  .info {
    margin-bottom: 8%;
  }
  .avator {
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
  }
  .name {
    font-size: 2rem;
  }
  ul.contact {
    margin: 12% 0;
  }
}

